
<div class="center-div">
    <h1>Developer Information</h1>
    <p>Name: Kgotso</p>
    <p>Surname: Maila</p>
    <p>Email: <a href="mailto:kgotsomaila3@gmail.com">Email</a></p>
    <p>Phone: 073 853 7528</p>
</div>