<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/" id="menu">
      <ion-icon name="menu"></ion-icon>
    </a>
    <nav>
      <div class="site_name">
          <a href="/">Fantastic Films</a>
      </div> 
      <ul id="list">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/browse">Popular Films</a>
          </li>
          <li>
              <a href="/about">About the Developer</a>
          </li>
      </ul>
    </nav>
    {{{body}}}
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
