<nav>
    <div class="site_name">
        <a href="/">Fantastic Films</a>
    </div> 
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">Popular Films</a>
        </li>
        <li>
            <a href="/">About the Developer</a>
        </li>
    </ul>
</nav>